*{
	margin:0;
	padding:0;
}
body{
	background:url(../images/cheeseboard.jpg) repeat-y center top #281f19;
	position:relative;
  font-family:Garamond,"Times New Roman",Times,serif;
}
a{
  color:#00cced;
  text-decoration:none;
}
.main{
  min-width:1024px;
  margin:0 auto;
  width:100%;
  overflow-x:hidden;
  position:relative;
  min-height:700px;
  #cheeses{
    width:1900px;
    margin:0 auto;
    img{
      box-shadow:2px 2px 3px #281f19;
      height:230px;
      float:left;
    }
  }
  .content{
    width:1024px;
    margin:0 auto;
    position:relative;
    .left_rail{
      width:200px;
      float:left;
      position:relative;
      margin-right:40px;
      .logo{
        width:100%;
        margin:0 auto;
        display:block;
        position:absolute;
        top:-60px;
        z-index:2;
        -webkit-filter: drop-shadow(2px 2px 4px #281f19);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#281f19')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#281f19')";
      }
      .nav{
        margin-top:150px;
        font-size:24px;
        list-style:none;
        text-align:center;
        /*background:url(../images/cheeseslate.png) no-repeat center center;
        padding:50px;
        background-size:170px 400px;*/
        li{
            padding:10px 0;
            text-align:center;
           a{
            color:#fff;
            text-shadow:1px 1px 2px #281f19;
            text-decoration:none;
            &.last{
              border-right:none;
            }
            &:hover{
              font-style:italic;
              &.current{
                color:#fff;
                font-style:normal;
                cursor:default;
              }
            }
          }
        }
      }
    }
    
    .description{
      text-shadow:1px 1px 2px #281f19;
      margin-top:30px;
      color:#fff;
      font-size:20px;
      line-height:26px;
      overflow:hidden;
      min-height:400px;
      /*.cutout{
        float:right;
        width:350px;
        position:absolute;
        bottom:0;
        right:10px;
      }*/
      p{
        margin:12px 0;
        &.question{
          font-weight:bold;
        }
        &.answer{
          margin-bottom:20px;
        }
        &.signup_message{
          color:#9dd4b5;
          text-indent:20px;
          margin-bottom:20px;
          .error{
            color:red;
          }
        }
      }
    }
    
    #subscriptions label{
      margin-left:5px;
    }
  }
  #like_on_fb{
    background:url(../images/facebook.png) no-repeat top left;
    width:25px;
    height:25px;
    display:inline-block;
    float:left;
    margin-bottom:20px;
    span{
      visibility:hidden;
    }
  }
  #mailing_address{
    margin-left:10px;
    line-height:25px;
  }
  #contact_form{
    margin-top:20px;
    .form_field{
      margin-bottom:13px;
      &.submit{
        text-align:center;
        width:550px;
        input{
          background:#fff;
          width:100px;
          height:30px;
          font-size:16px;
          letter-spacing:0.2em;
          font-family:Garamond,"Times New Roman",Times,serif;
        }
      }
      label{
        width:63px;
        text-align:right;
        display:inline-block;
        vertical-align:top;
        margin-right:6px;
        margin-top:2px;
      }
      input[type="text"]{
        width:300px;
        font-family:Arial,sans-serif;
        border-radius:3px;
        border:1px solid #ccc;
      }
      input,textarea{
        font-size:14px;
        border:1px solid #ccc;
        border-radius:3px;
        padding:5px;
        display:inline;
      }
    }
  }
  #signup_form{
    fieldset{
      border:none;
      display:inline-block;
      margin:0 20px;
      vertical-align:top;
    }
    .source_field{
      margin:0 20px 20px 20px;
      label{float:left;}
      #source{width:306px;}
    }
    label{
      font-size:16px;
      display:block;
      margin-right:10px;
      &.error{
        color:red;
        position:absolute;
        font-size:14px;
        line-height:18px;
      }
    }
    input[type="text"]{
      width:220px;
      padding:5px;
      font-size:14px;
      font-family:Arial,sans-serif;
      border-radius:3px;
      border:1px solid #ccc;
    }
    input[type="checkbox"]{
      float:left;
      margin-right:10px;
      margin-top:6px;
    }
    #night_phone_a,#night_phone_b{
      width:30px;
      float:left;
      margin-right:10px;
    }
    #night_phone_c{
      width:40px;
    }
    #billing_state,#state{
      width:60px;
    }
    #billing_zip,#zip{
      width:70px;
    }
  }
  #submit_button{
    clear:both;
    text-align:center;
    margin-top:10px;
    margin-left:200px;
    margin-bottom:100px;
  }
  table{
    margin-bottom:20px;
    td{
      padding:7px 0;
    }
  }
  #is_gift +label{
    margin-top:0;
  }
}

/*chosen*/
#os0{
  width:200px;
}
#age{
  width:105px;
}
#gender{
  width:105px;
}
#category{
  width:200px;
}
.chzn-container{
  font-family:'Lucida Grande',Arial,sans-serif;
  text-shadow:none;
  color:#444;
  .chzn-search{
    input{
      display:none !important;
    }
  }
}